[run]
branch = True
source = dynpool
parallel = True

[paths]
source =
  ./
  *\workspace\dynpool\tox_python\*\os\windows\
  */jobs/dynpool/workspace/TOX_PYTHON/*/os/osx/
  */workspace/dynpool/TOX_PYTHON/*/os/linux/

[report]
omit =
    */test/*
precision = 2
